@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.navbar{
  background-color: #e76f51;
  color: white;
}

.menu{
  color: black;
}

.footer{
  background-color: #e76f51;
}
